<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787776350069-qvnk1sbaps1saaiat99asph9dj8fme8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787776350069-qvnk1sbaps1saaiat99asph9dj8fme8n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>787776350069-ton28lep53k0kj0uac1og2p6mv8s2587.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDbMFXwtEQtkiV9Jbv1sWGe4mAxG9mzVI</string>
	<key>GCM_SENDER_ID</key>
	<string>787776350069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sharan.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-6d0ba</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-6d0ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787776350069:ios:6bd20397b8a46109ebd53c</string>
</dict>
</plist>